<section class="loaders-section section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading">
          <h4><b>EDUCATION</b></h4>
        </div>
      </div><!-- col-sm-12 -->
      <div *ngFor="let item of listloader" class="col-sm-6 col-md-6 col-lg-3">
        <div  class="radial-prog-area margin-b-30">
          <div   class="radial-progress"  style="position: relative;">
           
            <h6 class="progress-title">{{item.name}}</h6>
            
          <svg viewBox="0 0 100 100" style="display: block; width: 100%;">
            <path d="M 50,50 m 0,-48.5 a 48.5,48.5 0 1 1 0,97 a 48.5,48.5 0 1 1 0,-97" stroke="#eee" stroke-width="1" fill-opacity="0"></path>
            <path d="M 50,50 m 0,-48.5 a 48.5,48.5 0 1 1 0,97 a 48.5,48.5 0 1 1 0,-97" stroke="rgb(253,173,1)" stroke-width="2.999784" fill-opacity="0" 
            style="stroke-dasharray: 304.844, 304.844;"[style.stroke-dashoffset]="(100-item.percent)*3.14"></path>
          </svg>
          <div class="progressbar-text" style="position: absolute; left: 50%; top: 50%; padding: 0px; margin: 0px; transform: translate(-50%, -50%); color: rgb(170, 170, 170);">{{item.percent}}</div>
        </div>
        </div><!-- radial-prog-area-->
      </div><!-- col-sm-6-->
      
     
      
    </div><!-- row -->
  </div><!-- container -->
</section>